<style>
    .status {
        display: flex;
    }

    .status div {
        flex: 1;
        margin: 1px;
        margin-top: auto;
    }
</style>

<h1>Status</h1>

<table class="table table-borderless">
    <tr>
        <th style="width: 200px">URL</th>
        <td><a href="{probe.url}">{probe.url}</a></td>
    </tr>
    <tr>
        <th>Timestamp</th>
        <td>{lastStatus.timestamp}</td>
    </tr>
    <tr>
        <th>Duration</th>
        <td>{lastStatus.duration}ms</td>
    </tr>
</table>

<div class="status">
    {#for status in statusList}
            <div data-up="{status.up}" style="background-color:
                {#if status.id == null}
                    grey
                {#else}
                    {status.up ? "green" : "red"}
                {/if};
                height: calc({status.up ? status.duration : 1000}px / 10)">
            </div>
    {/for}
</div>