<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body class="container">
<div class="p-2 bg-primary text-white text-center">
    <h1>Sakila DVD Rental Shop</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        Connected as: {username}
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item me-auto">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="py-2 pt-10">
    Register a rental by selecting the film from inventory and the customer.
</div>


<label for="films-search" class="form-label">
    Search Films
    <span id="search-films-indicator" class="spinner-border spinner-border-sm htmx-indicator" role="status">
        <span class="visually-hidden">Loading...</span>
    </span>
</label>
<input class="form-control"
       id="films-search"
       type="search"
       name="query"
       placeholder="Begin Typing To Search Films..."
       hx-post="/rental/film/search"
       hx-trigger="click from:body target:#film-unselect, input changed delay:500ms, search"
       hx-target="#search-films-results"
       hx-indicator="#search-films-indicator">
<table class="table">
    <thead>
    <tr>
        <th>Inventory ID</th>
        <th>Film Title</th>
        <th>Film description</th>
        <th>Selection</th>
    </tr>
    </thead>
    <tbody hx-target="#search-films-results" hx-swap="innerHTML" id="search-films-results">
    </tbody>
</table>

<label for="customers-search" class="form-label">
    Search Customers
    <span id="search-customers-indicator" class="spinner-border spinner-border-sm htmx-indicator" role="status">
        <span class="visually-hidden">Loading...</span>
    </span>
</label>
<input class="form-control"
       id="customers-search"
       type="search"
       name="query"
       placeholder="Begin Typing To Search Customers..."
       hx-post="/rental/customer/search"
       hx-trigger="input changed delay:500ms, search"
       hx-target="#search-customers-results"
       hx-indicator="#search-customers-indicator">
<table class="table">
    <thead>
    <tr>
        <th>Customer ID</th>
        <th>Customer First Name</th>
        <th>Customer Last Name</th>
        <th>Selection</th>
    </tr>
    </thead>
    <tbody hx-target="#search-customers-results" hx-swap="innerHTML" id="search-customers-results">
    </tbody>
</table>


<button class="btn btn-primary" hx-post="/rental/" hx-target="#rental-response" hx-include="#rental-submit">Submit
    Rental
</button>
</body>

{@ch.heigvd.amt.jpa.service.RentalService$RentalDTO rental}
{@java.lang.String message}
<div id="rental-response">
    {#fragment id = success rendered = false}
    <div class="alert alert-success" role="alert">
        The rental of inventory {rental.inventory} by customer {rental.customer} was successfully registered.
    </div>
    {/fragment}
    {#fragment id = failure rendered = false}
    <div class="alert alert-danger" role="alert">
        Rental failed: {message}
    </div>
    {/fragment}
</div>



